* {
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Exo', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Open Sans', sans-serif; 
    font-family: 'Cabin', sans-serif; */
}

legend {
    font-size: 2rem;
}

form {
    width: 450px;
    margin: 0 auto;
}

section {
    background: rgb(77, 162, 190);
    margin: 3vh 0;
    padding: 10px;
}

.jahr-section{
    display: flex;
}

h2 {
    margin: 0;
    padding-right: 5%;
}

.einkommen-blocks {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
}

::placeholder {
    font-size: .8rem;
}
.block1, .block2 {
    width: 45%;
}
#einkomSingle, #einkPerson1, #einkPerson2, #ergebnis{
    color: darkblue;
    font-weight: 700;
    font-size: 1.1rem;
    width: 50%;
    padding-left: 10px;
    display: inline-block;
}

.title-label {
    font-weight: 700;
}

.input-label {
    height: 7vh;
}

.button {
    background: rgb(77, 162, 190);
    color: #fff;
    border: none;
    font-size: 1.1rem;
    width: 30%;
    border-radius: 5px;
}

@media only screen and (max-width: 380px) {
    .einkommen-blocks {
        flex-direction: column;
    }
    .block1, .block2{
      padding-top: 3vh;
      width: 100%;
    }
    #einkomSingle, #einkPerson1, #einkPerson2 {
        width: 100px;
    }
    legend, h2 {
        font-size: 1.25rem;
    }
    .input-label {
        height: unset;
    }
    label{
        font-size: 1rem;
    }
    form {
        width: 100%;
    }
    section {
        margin: 1vh 0;
    }
    .input {
        width: 20%;
        font-size: 0.6rem;
        padding-bottom: 5vh;
    }
}